@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: fantasy --default;
}

@theme {
  --font-poppins: 'Poppins', sans-serif;
  --font-mulish: 'Mulish', sans-serif;
}
